body{
    background-color: rgb(128, 118, 118);
    color: white;
}

#tupian{
    background-image: url(../images/20170710162730.jpg);
    width: 375px;
    height: 375px;
    transform: rotate(25deg);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 25);
}

#luoyong{
    background-color: red;
    color: white;
}